{% extends 'blogs/base.html' %}

{% block content %}

<p>Topic: {{ topic }}</p>

<p>BlogPosts:</p>
<p>
	<a href="{% url 'blogs:new_blogpost' topic.id %}">add new entry</a>
</p>
<ul>
	{% for blogpost in blogposts %}
		<li>
			<p>{{ blogpost.date_added|date:'M d, Y H:i' }}</p>
			<p>{{ blogpost.text|linebreaks }}</p>
			<p><a href="{% url 'blogs:edit_blogpost' blogpost.id %}">edit blogpost</a>
</p>
		</li>	
	{% empty %}
		<li>
			There are no blog posts for this topic yet.
		</li>	
	{% endfor %}
</ul>

{% endblock content %}